<!-- SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Hyperledger Fabric Alogorithm Application</title>
    <link rel="icon" href="favicon.png" type="image/gif">

    <!-- require jquery and bootstrap scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    
<!-- adding style here -->
    <style type="text/css">
      header{
        width:101%;  
        background-color: lightgray;
        font-size:20px;
        padding:15px;
      }
      header, .form-group{
        margin-bottom: 3%;
      }
      .form-group{
        width:50%;
      }
      #body{
        margin-left:3%;
        margin-right:3%;
      }
      .form-control{
        margin: 8px;
      }
      #right_header{
        width:40%;
        font-size:15px;
        margin-right:0px;
      }
      #left_header{
        margin-left:0;
        width:40%;
        display:inline;
      } 
      #id {
        width:49%;
        display: inline-block;
      }
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }
      tr:nth-child(even) {
          background-color: #dddddd;
      }
        
        ul{
            display:inline-block;

        }
        ul li{
            display:inline;margin:0px 15px 0px 15px ;      
        }
        
    </style>
  </head>
  <body ng-app="application" ng-controller="appController" onload="ShowTime()">
    <header>
        <div class="row">
            <a class="col-lg-8" href="index.html"><div id="left_header">Hyperledger Fabric Alogorithm Application</div></a>
            <ul class="col-lg-4">
                <a href="index.html"><li>Home</li></a><span/>
                <a href="User.html"><li>User</li></a>
                <a href="#"><li>Logout</li></a>
            </ul>
        </div>
        <div class="row">
            <i class="col-lg-4" id="right_header">Blockchain Application for Alogorithm trading</i>
            <div class="col-lg-4"> </div>
            <ul class="col-lg-4 col-lg-offset-3"><li id="showbox"> </li></ul>
        </div>
    </header>

    <div id="body">

      <div class="form-group">
        <label>Query an Item(查詢程式商品(已填好))</label><br>
        <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Item Id</h5>
        
        <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="query_qGetItem_1000()">
      </div>

      <table id="query_qGetItem_1000" class="table" align="center">

        <tr>
          <th>ItemID</th>
          <th>RecType</th>
          <th>ItemDesc</th>
          <th>ItemDetail</th>
          <th>ItemDate</th>
        </tr>

        <tr>
          <td>{{query_qGetItem_1000.ItemID}}</td>
          <td>{{query_qGetItem_1000.RecType}}</td>
          <td>{{query_qGetItem_1000.ItemDesc}}</td>
          <td>{{query_qGetItem_1000.ItemDetail}}</td>
          <td>{{query_qGetItem_1000.ItemDate}}</td>
        </tr>
          
         <tr>
          <th>ItemType</th>
          <th>ItemSubject</th>
          <th>ItemPerformance</th>
          <th>ItemSize</th>
          <th>ItemPicFN</th>
        </tr>
        <tr> <!-- 因為回傳回來的欄位長這樣，填一樣才有值
            type ItemObject struct {
                ItemID         string
                RecType        string
                ItemDesc       string
                ItemDetail     string // Could included details such as who created the Art work if item is a Painting
                ItemDate       string
                ItemType       string
                ItemSubject    string
                ItemMedia      string
                ItemSize       string
                ItemPicFN      string
                ItemImage      []byte // This has to be generated AES encrypted using the file name
                AES_Key        []byte // This is generated by the AES Algorithms
                ItemImageType  string // should be used to regenerate the appropriate image type
                ItemBasePrice  string // Reserve Price at Auction must be greater than this price
                CurrentOwnerID string // This is validated for a user registered record
                TimeStamp      string // This is the time stamp
            }-->
          <td>{{query_qGetItem_1000.ItemType}}</td>
          <td>{{query_qGetItem_1000.ItemSubject}}</td>
          <td>{{query_qGetItem_1000.ItemMedia}}</td>
          <td>{{query_qGetItem_1000.ItemSize}}</td>
          <td>{{query_qGetItem_1000.ItemPicFN}}</td>
        </tr> 
          
         <tr>
            <th>ItemImageType</th>
            <th>ItemBasePrice</th>
            <th>CurrentOwnerID</th>
            <th>AES_Key</th>
            <th>TimeStamp</th>
         </tr>
         <tr>
           <td>{{query_qGetItem_1000.ItemImageType}}</td>
           <td>{{query_qGetItem_1000.ItemBasePrice}}</td>
           <td>{{query_qGetItem_1000.CurrentOwnerID}}</td>
           <td>{{query_qGetItem_1000.AES_Key}}</td>
           <td>{{query_qGetItem_1000.TimeStamp}}</td>
         </tr>
      </table>

          <div class="form-group">
            <label>Query a Specific Item(查詢程式商品)</label><br>
            <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Item Id</h5>

            Enter an Item Id: <input id="createName" class="form-control" type="text" placeholder="Ex: 1000" ng-model="alo_ItemID">
            <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="query_qGetItemSpe()">
          </div>

          <table id="query_qGetItemSpe" class="table" align="center">

        <tr>
          <th>ItemID</th>
          <th>RecType</th>
          <th>ItemDesc</th>
          <th>ItemDetail</th>
          <th>ItemDate</th>
        </tr>

        <tr>
          <td>{{query_qGetItemSpe.ItemID}}</td>
          <td>{{query_qGetItemSpe.RecType}}</td>
          <td>{{query_qGetItemSpe.ItemDesc}}</td>
          <td>{{query_qGetItemSpe.ItemDetail}}</td>
          <td>{{query_qGetItemSpe.ItemDate}}</td>
        </tr>
          
         <tr>
          <th>ItemType</th>
          <th>ItemSubject</th>
          <th>ItemPerformance</th>
          <th>ItemSize</th>
          <th>ItemPicFN</th>
        </tr>
        <tr> 
          <td>{{query_qGetItemSpe.ItemType}}</td>
          <td>{{query_qGetItemSpe.ItemSubject}}</td>
          <td>{{query_qGetItemSpe.ItemMedia}}</td>
          <td>{{query_qGetItemSpe.ItemSize}}</td>
          <td>{{query_qGetItemSpe.ItemPicFN}}</td>
        </tr> 
          
         <tr>
            <th>ItemImageType</th>
            <th>ItemBasePrice</th>
            <th>CurrentOwnerID</th>
            <th>AES_Key</th>
            <th>TimeStamp</th>
         </tr>
         <tr>
           <td>{{query_qGetItemSpe.ItemImageType}}</td>
           <td>{{query_qGetItemSpe.ItemBasePrice}}</td>
           <td>{{query_qGetItemSpe.CurrentOwnerID}}</td>
           <td>{{query_qGetItemSpe.AES_Key}}</td>
           <td>{{query_qGetItemSpe.TimeStamp}}</td>
         </tr>
      </table>
        
       <div class="form-group">
            <label>Query an AuctionRequest status(查詢拍賣狀況)</label><br>
            <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Auction Id</h5>

            Enter an Auction Id: <input id="createName" class="form-control" type="text" placeholder="Ex: 1111" ng-model="aloAuctionRequest_AuctionID">
            <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="query_qGetAuctionRequest()">
          </div>

          <table id="query_qGetAuctionRequest" class="table" align="center">

        <tr>
          <th>AuctionID</th>
          <th>RecType</th>
          <th>ItemID</th>
          <th>AuctionHouseID</th>
          <th>SellerID</th>
          <th>RequestDate</th>
        </tr>

        <tr>
          <td>{{query_qGetAuctionRequest.AuctionID}}</td>
          <td>{{query_qGetAuctionRequest.RecType}}</td>
          <td>{{query_qGetAuctionRequest.ItemID}}</td>
          <td>{{query_qGetAuctionRequest.AuctionHouseID}}</td>
          <td>{{query_qGetAuctionRequest.SellerID}}</td>
          <td>{{query_qGetAuctionRequest.RequestDate}}</td>
        </tr>
          
         <tr>
          <th>ReservePrice</th>
          <th>BuyItNowPrice</th>
          <th>Status</th>
          <th>OpenDate</th>
          <th>CloseDate</th>
          <th>TimeStamp</th>
        </tr>
        <tr> 
          <td>{{query_qGetAuctionRequest.ReservePrice}}</td>
          <td>{{query_qGetAuctionRequest.BuyItNowPrice}}</td>
          <td>{{query_qGetAuctionRequest.Status}}</td>
          <td>{{query_qGetAuctionRequest.OpenDate}}</td>
          <td>{{query_qGetAuctionRequest.CloseDate}}</td>
          <td>{{query_qGetAuctionRequest.TimeStamp}}</td>
        </tr> 
      </table>
        
      <div class="form-group">
        <label>Submit a Bid(下標單)</label>
        <h5 style="color:green;margin-bottom:2%" id="success_create">Success! Tx ID: {{invoke_iPostBid}}</h5>
        <br>
        Enter Auction id: <input class="form-control" type="text" placeholder="Ex: 1111" ng-model="aloBid.AuctionID">
        Enter RecType: <input class="form-control" type="text" placeholder="Ex: BID" ng-model="aloBid.RecType">
        Enter Bid Number: <input id="createName" class="form-control" type="text" placeholder="Ex: 1" ng-model="aloBid.BidNo"> 
        Enter ItemID: <input id="createName" class="form-control" type="text" placeholder="Ex: 1000" ng-model="aloBid.ItemID">
        Enter BuyerID: <input class="form-control" type="text" placeholder="Ex: 300" ng-model="aloBid.BuyerID">
        Enter Bid Price: <input class="form-control" type="text" placeholder="Ex: 1200" ng-model="aloBid.BidPrice">
        <!--Enter Bid Time: <input class="form-control" type="text" placeholder="Ex: 2017-12-02 09:30:00" ng-model="aloBid.BidTime">-->
        <input id="createSubmit" type="submit" value="Create" class="btn btn-primary" ng-click="invoke_iPostBid()"> 
      </div>

      <div class="form-group">
        <label>Query List Of Bids(查詢標單)</label><br>
        <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Auction Id</h5>

        Enter an Auction Id: <input id="createName" class="form-control" type="text" placeholder="Ex: 1111" ng-model="aloBid_AuctionID">
        <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="query_qGetListOfBids()">
      </div>

      <table id="query_qGetListOfBids" class="table" align="center">

        <tr>
          <th>AuctionID</th>
          <th>RecType</th>
          <th>BidNumber</th>
          <th>ItemID</th>
          <th>BuyerID</th>
          <th>BidPrice</th>
          <th>BidTime</th>
        </tr>

        <tr ng-repeat="query_qGetListOfBids in query_qGetListOfBids">
          <td>{{query_qGetListOfBids.AuctionID}}</td>
          <td>{{query_qGetListOfBids.RecType}}</td>
          <td>{{query_qGetListOfBids.BidNo}}</td>
          <td>{{query_qGetListOfBids.ItemID}}</td>
          <td>{{query_qGetListOfBids.BuyerID}}</td>
          <td>{{query_qGetListOfBids.BidPrice}}</td>
          <td>{{query_qGetListOfBids.BidTime}}</td>
        </tr>
      </table>
        
      <div class="form-group">
        <label>Query Highest Bid(查詢最高價標單)</label><br>
        <h5 style="color:red;margin-bottom:2%" id="error_query">Error: Please enter a valid Auction Id</h5>

        Enter an Auction Id: <input id="createName" class="form-control" type="text" placeholder="Ex: 1111" ng-model="aloHighBid_AuctionID">
        <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="query_qGetHighestBid()">
      </div>

      <table id="query_qGetHighestBid" class="table" align="center">

        <tr>
          <th>AuctionID</th>
          <th>RecType</th>
          <th>BidNumber</th>
          <th>ItemID</th>
          <th>BuyerID</th>
          <th>BidPrice</th>
          <th>BidTime</th>
        </tr>

        <tr>
          <td>{{query_qGetHighestBid.AuctionID}}</td>
          <td>{{query_qGetHighestBid.RecType}}</td>
          <td>{{query_qGetHighestBid.BidNo}}</td>
          <td>{{query_qGetHighestBid.ItemID}}</td>
          <td>{{query_qGetHighestBid.BuyerID}}</td>
          <td>{{query_qGetHighestBid.BidPrice}}</td>
          <td>{{query_qGetHighestBid.BidTime}}</td>
        </tr>
      </table>
        
      <div class="form-group">
        <label>Transfer Item(販賣所有權)</label>
        <h5 style="color:green;margin-bottom:2%" id="success_create">Success! Tx ID: {{invoke_iTransferItem}}</h5>
        <br>
        Enter Item id: <input class="form-control" type="text" placeholder="Ex: 1000" ng-model="aloTransfer.ItemID">
        Enter Owner id: <input class="form-control" type="text" placeholder="Ex: 100" ng-model="aloTransfer.OwnerID">
        Enter AES_key: <input id="createName" class="form-control" type="text" placeholder="Ex: v8TvPoHF8pLJls1K5BukWLtBN2asYCvIa1pwTwjdy/w=" ng-model="aloTransfer.AES_Key"> 
        Enter New Owner id: <input id="createName" class="form-control" type="text" placeholder="Ex: 300" ng-model="aloTransfer.NewOwnerID">
        Enter RecType: <input class="form-control" type="text" placeholder="Ex: XFER" ng-model="aloTransfer.RecType">
        <!--Enter Bid Time: <input class="form-control" type="text" placeholder="Ex: 2017-12-02 09:30:00" ng-model="aloBid.BidTime">-->
        <input id="createSubmit" type="submit" value="Create" class="btn btn-primary" ng-click="invoke_iTransferItem()"> 
      </div>
        
      <div class="form-group">
        <label>Sell Item Use Right(販賣程式使用權)</label>
        <h5 style="color:green;margin-bottom:2%" id="success_create">Success! Tx ID: {{invoke_iPostUserItem}}</h5>
        <br>
        Enter Owner id: <input class="form-control" type="text" placeholder="Ex: 100" ng-model="aloUserItem.OwnerID">
        Enter RecType: <input class="form-control" type="text" placeholder="Ex: USERITEM" ng-model="aloUserItem.RecType">
        Enter Item id: <input class="form-control" type="text" placeholder="Ex: 1000" ng-model="aloUserItem.ItemID">
        <!--Enter AES_key: <input id="createName" class="form-control" type="text" placeholder="Ex: v8TvPoHF8pLJls1K5BukWLtBN2asYCvIa1pwTwjdy/w=" ng-model="aloTransfer.AES_Key">--> 
        Enter New User id: <input id="createName" class="form-control" type="text" placeholder="Ex: 300" ng-model="aloUserItem.NewUserID">
        <!--Enter Bid Time: <input class="form-control" type="text" placeholder="Ex: 2017-12-02 09:30:00" ng-model="aloBid.BidTime">-->
        <input id="createSubmit" type="submit" value="Create" class="btn btn-primary" ng-click="invoke_iPostUserItem()"> 
      </div>
        
      <!--<div class="form-group">
        <label>Change Tuna Holder</label><br>
        <h5 style="color:green;margin-bottom:2%" id="success_holder">Success! Tx ID: {{change_holder}}</h5>
        <h5 style="color:red;margin-bottom:2%" id="error_holder">Error: Please enter a valid Tuna Id</h5>
        Enter a catch id between 1 and 10: <input class="form-control" name="assetSelect" placeholder="Ex: 1" ng-model="holder.id">
        Enter name of new holder: <input class="form-control" name="assetSelect" placeholder="Ex: Barry" ng-model="holder.name">
        <input id="transferSubmit" type="submit" value="Change" class="btn btn-primary" ng-click="changeHolder()">
      </div>-->
    </div>
  </body>
    <!-- requiring the angular page -->
    <script type="text/javascript" src="app.js"> </script>
</html>